astroid==2.3.0
awscli==1.16.230
botocore==1.12.220
certifi==2019.9.11
chardet==3.0.4
Click==7.0
colorama==0.3.9
docutils==0.15.2
Flask==1.1.1
future==0.17.1
greenlet==0.4.15
gunicorn==19.9.0
idna==2.8
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.9.4
lazy-object-proxy==1.4.2
line-bot-sdk==1.14.0
MarkupSafe==1.1.1
mccabe==0.6.1
msgpack==0.6.1
neovim==0.3.1
pyasn1==0.4.7
pylint==2.4.1
pynvim==0.3.2
python-dateutil==2.8.0
PyYAML==5.4
requests==2.22.0
rsa==4.7
s3transfer==0.2.1
six==1.12.0
typed-ast==1.4.0
urllib3==1.25.3
Werkzeug==0.16.0
wrapt==1.11.2
